@import '~@ctrl/ngx-emoji-mart/picker';
body {
    --color-background: #1e1e1e;
    --color-text: #d8d6e1;
    --color-accent: #cd7125;
    --color-accent-active: #cd7125da;
    --color-accent-disabled: #ac6d3b;
    --font-size-default: 16pt;
    --font-size-label: 14pt;
    background-color: #121212;
    font-family:  'Roboto', sans-serif, Arial, Helvetica;
    margin: 0;
}

button {
    font-family: 'Roboto', sans-serif, Arial, Helvetica;
}