<app-dialog-box *ngIf="dialogVisible"
    [buttons]="['Close']"
    [text]="['Copy the gameroom details and send it to your friends', 'Room code: ' + currentGameroom.game_code, currentGameroom.pin ? 'Pin: ' + currentGameroom.pin : '']"
    (onDialogClose)="dialogVisible=false"
    (onBtnClick)="dialogVisible=false">
</app-dialog-box>
<app-navbar></app-navbar>
<div class="container room">

    <div class="participants-quiz-wrapper">
    
        <div class="participants-wrap">
            <ul class="participants-list">
                <li class="participant" *ngFor="let participant of participants">
                    <div class="user-detail">
                        <img [src]="uiService.getPhoto(participant?.photo)" id="user-pic">
                        <span [ngClass]="{'this-user': participant?.username == authService.user.username}" id="user-info">
                            {{ participant?.username }}
                        </span>
                    </div>
                </li>
            </ul>
        </div>

        <div class="container quiz">
            <div *ngIf="!gameroom_state_idle" class="content">
                <div class="room-info">
                    <h1>{{ currentGameroom?.gameroom_name }}</h1>
                    <h2>Hosted by {{ currentGameroom?.author.username }}</h2>
                
                    <div class="quiz-info">
                        <h3>Playing: {{ currentGameroom?.quiz.name }}</h3>
                        <h3>Author: {{ currentGameroom?.quiz.author.username }}</h3>
                    </div>
                    <button *ngIf="isHost" class="btn start-quiz" (click)="startQuiz()"><span>Start</span></button>
                    <h3 *ngIf="!isHost">Waiting for host to start the quiz...</h3>
                </div>
            </div>

            <app-question class="question-wrap" *ngIf="gameroom_state_idle && !gameroom_state_done"
                        [feedback]="feedback" 
                        [rawQuestion]="rawQuestion" 
                        (questionLoaded)="getCurrentQuestion($event)" 
                        (answerQuestion)="answerQuestion($event)">
            </app-question>

            <div class="rank-wrap" *ngIf="gameroom_state_done">
                <table class="rankings" >
                    <thead>
                        <th> </th>
                        <th style="width: 10%;"></th>
                        <th>User</th>
                        <th>Points</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rank of ranking; index as i">
                            <td style="text-align: center;"> {{ i+1 }} </td>
                            <td style="text-align: center;">
                                <img class="rank-photo" [src]="uiService.getPhoto(rank.photo)">
                            </td>
                            <td> {{ rank.username }} </td>
                            <td> {{ rank.total_score }} </td>
                        </tr> 
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="chat-wrap">
        <div class="message-wrap" #messageWrap>
            <div *ngFor="let msg of messages; let last=last">
            {{ last ? scrollToBottom() : '' }}
            <div *ngIf="msg.from === authService.user.username">
                <div class="message-container user">
                    <span id="uname"><b>{{ msg.from }}:</b></span>
                    {{ msg.msg }}
                    <span class="timestamp">{{ msg.timestamp }} </span> 
                </div>
            </div>
            <div *ngIf="msg.from === 'meta'">
                <div class="meta">
                    {{ msg.msg }}
                </div>
            </div>
            <div *ngIf="msg.from !== authService.user.username && msg.from !== 'meta'">
                <div class="message-container">
                    <span [ngStyle]="{'color': nameColors.get(msg.from)}">{{ msg.from }}:</span>
                    {{ msg.msg }}
                    <span class="timestamp">{{ msg.timestamp }} </span> 
                </div>
            </div>
        </div>
    </div>
        <div class="container chat-container">
            <div style="display: flex;">
                <input (keyUp.enter)="sendChatMessage(message.value);message.value=''" class="form-input chat" type="text" #message>
                <button class="emoji-picker" (click)="toggleEmojiPicker($event)"><span class="material-icons">sentiment_satisfied</span></button>
                <emoji-mart class="emoji-mart" *ngIf="emojiPickerVisible" (emojiSelect)="addEmoji($event)" title="Choose your emoji" set="google" [darkMode]="true" #emojiPicker></emoji-mart>
                <button class="btn btn-small" (click)="sendChatMessage(message.value);message.value=''">Send</button>
            </div>
        </div>

    </div>
</div>