.form-group-inline {
    .form-input {
        width: 80%;
        display: inline-block;
        border-radius: 9999px 0px 0px 9999px;
        outline: none;
        padding-left: 20px;
    }

    .btn {
        width: 20%;
        border-radius: 0px 9999px 9999px 0px;
    }
}