<form [formGroup]="searchForm" (ngSubmit)="search()">
    <div class="form-group-inline">
        <input type="text" class="form-input" formControlName="query">
        <button class="btn" type="submit">Search</button>
    </div>
</form>