.form-title {
    font-size: 20pt;
    text-align: center;
}

.form-group {
    margin-bottom: 2rem;
}

.form-label {
    display: block;
    padding-bottom: 5px;
    font-size: 14pt;
    color: var(--color-text);
}

.form-input, .form-select, .form-textarea {
    width: 100%;
    background-color: #2e2d2d;
    border: none;
    font-size: var(--font-size-label);
    color: var(--color-text);
    padding: 10px;
    box-sizing: border-box;
    margin: .25rem auto;
    display: block;

    &:focus {
        outline: 1px solid #cd7125a4;
    }
}

.form-input[type=number] {
    appearance: textfield;
}

.form-input[type=number]::-webkit-inner-spin-button {
    appearance: none;
}

.form-textarea {
    height: 5rem;
}

.form-select {
    background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32px" height="16px" viewBox="0 0 386.257 386.257"> <polygon style="fill:white" points="0,96.879 193.129,289.379 386.257,96.879 "/></svg>') no-repeat right #2e2d2d;
    appearance: none;
}

.btn {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    width: 250px;
    padding: 10px;
    background-color: var(--color-accent);
    color: var(--color-text);
    border:none;
    border-radius: 9999px;
    font-family: 'Roboto', sans-serif, Arial, Helvetica;
    font-size: var(--font-size-label);
    margin: .25rem 0;

    &:hover {
        transition-duration: 0.3s;
        background-color: var(--color-accent-active);
    }

    &.btn-block {
        display: block;
        width: 100%;
    }

    &.btn-checkbox {
        display: flex;
        justify-content: space-between;
        padding: 20px 2rem;
        // font-size: var(--font-size-default);
        user-select: none;
    
        input {
            display: none;
            position: absolute;
        }
    
        .checkmark {
            position: relative;
            display: inline-block;
            height: 25px;
            width: 25px;
            background-color: #eee;
    
            &::after {
                content: "";
                position: absolute;
                display: none;
                left: 9px;
                top: 5px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
            }
        }
    
        .checkbox-label {
            flex-grow: 1;
        }
    
        &:hover input ~ .checkmark {
            background-color: #ccc;
        }

        input:checked ~ .checkmark {
            background-color: #2196F3;
    
            &:after {
                display: block;
            }
        }
    }

    &:disabled {
        background-color: var(--color-accent-disabled);
        cursor: default;
    }
}

.validation-block {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-inline-start: 20px;
    list-style-type: none;
    font-size: 12pt;
    color: rgb(146, 17, 17);
}