#wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  justify-content: space-around;
}

#question-menu {
    min-width: 300px;
    max-width: 600px;
    margin-left: 1rem;
    margin-right: 1rem;
}

#quiz-form {
    margin-top: 15pt;
}

#quiz-form label {
    display: block;
    padding-bottom: 5px;
    font-size: 14pt;
    color: #D8D6E1;
}

#quiz-form input:focus {
  outline: none;
  border: 1px solid #cd7125;
}

#quiz-form input {
    width: 97.5%;
    background-color: #2e2d2d;
    border: none;
    margin-bottom: 30pt;
    font-size: 14pt;
    color: #D8D6E1;
    padding: 10px;
}

#form-wrapper {
    width: 80%;
    margin: 0 2rem;
    background-color: #1E1E1E;
    padding-left: 25pt;
    padding-right: 25pt;
}

#make-title {
    font-size: 35pt;
    color: #D8D6E1;
    margin-top: 0px;
    margin-bottom: 0px;
}

#title-wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.btn-delete {
    background-color: #d42929b0;

    &:hover {
        background-color: #9b1a1ab0;
    }
}

.btn-float {
    width: unset;
    margin-left: auto;
    padding: 10px 20px;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 50%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  color: #D8D6E1;
  outline: none;
  padding: 20px;   
}

select::-ms-expand {
  display: none;
}

.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

textarea {
  background-color: #2e2d2d;
  width: 99%;
  height: 5rem;
  color: #D8D6E1;
  margin-bottom: 2rem;
  border: none;
  resize: none;
}

textarea:focus {
  outline: none;
  border: 1px solid #cd7125;
}

.edit {
  border-radius: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.order-list {
    margin: 1rem auto;
    border: solid 1px black;
    display: block;
    background-color: var(--color-accent);
    border-radius: 12px;
    overflow: hidden;
}

.order-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.order-item {
    padding: 10px 10px;
    border-bottom: solid 1px black;
    color: var(--color-text);
    box-sizing: border-box;
    cursor: pointer;
    background: #333333;
    font-size: var(--font-size-label);
    min-width: 300px;
    max-width: 600px;

    &:last-child {
        border: none;
    }
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
  
.cdk-drag-placeholder {
    opacity: 0;
}
  
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging {
    cursor: move;
}

.form-select {
    width: 99%;
    margin-left: 0;
    margin-bottom: 2rem;
}

@media screen and (max-width: 940px) {
    #wrapper {
        align-items: center;
        flex-direction: column;
    }
}