<app-navbar></app-navbar>
<div id="wrapper" *ngIf="quiz">

    <div id="question-menu">

        <button class="btn btn-block btn-delete" (click)="deleteQuiz()">Delete quiz</button>
        <div cdkDropList class="order-list question-list" (cdkDropListDropped)="drop($event)">
            <div class="order-item" *ngFor="let question of quiz.questions; index as i" (click)="changeQuestion(i)" cdkDrag>{{i+1}}. {{question.question_data.text}}</div>
        </div>
        <button class="btn btn-block" (click)="saveOrder()">Save order</button>
        <button class="btn btn-block" (click)="clearSelection()">New question</button>

    </div>

    <div id="form-wrapper">

        <div id="title-wrapper">
            <p id="make-title" style="display: inline-block;">Edit question</p>
            <button *ngIf="questionId" class="btn btn-delete btn-float" (click)="deleteQuestion($event)">Delete</button>
        </div>

        <app-message *ngIf="numCorrErrMul" [message]="numCorrErrMulStr"></app-message>
        <app-message *ngIf="optionErrMul" [message]="optionErrMulStr"></app-message>
        <app-message *ngIf="corrIndErrMul" [message]="corrIndErrMulStr"></app-message>
        <app-message *ngIf="yesNoError" [message]="yesNoErrorStr"></app-message>
        <app-message *ngIf="numOfOptionsErrDD" [message]="numOfOptionsErrDDStr"></app-message>
        <app-message *ngIf="timeLimitErr" [message] = "timeLimitErrStr"></app-message>
    
        <div id="quiz-form">
            <div>
                <label> Question text </label>
                <input id="question-text" name="questionText" type="text" (change)="questionText = $event.target.value" [value] = "questionText">
            </div>

            <div class="select">
                <label>Question type </label>
                <select (change)="updateType($event.target.value)" class="form-select" [value]="questionType">
                    <option value="MultipleChoiceQuestion"> Multiple choice question </option>
                    <option value="YesNoQuestion"> Yes / No question </option>
                    <option value="DragDropQuestion"> Drag and Drop </option>
                </select>
            </div>


            <div *ngIf = "questionType == 'MultipleChoiceQuestion'">
                <div>
                    <label> Options </label>
                    <textarea id="options" (change)="options = $event.target.value" [value]="options"></textarea>
                </div>
                <div>
                    <label> Number of correct answers </label>
                    <input id="correct-num" name="numberOfCorr" type="number" (change)="numOfCorrect = $event.target.value" [value]="numOfCorrect">    
                </div>
                <div>
                    <label>Indices of correct answers</label>
                    <input id="indices-correct" (change)="indicesOfCorrect = $event.target.value" [value]="indicesOfCorrect">            
                </div>
            </div>

            <div *ngIf = "questionType == 'YesNoQuestion'">
                <label>True/False</label>
                <input id="indices-correct" (change)="yesNoAnswer = $event.target.value" [value]="yesNoAnswer">
            </div>

            <div *ngIf = "questionType == 'DragDropQuestion'">
                <div>
                    <label> Options </label>
                    <textarea id="options" (change)="options = $event.target.value" [value]="options"></textarea>
                </div>
            </div>

            <div>
                <label>Time limit (seconds)</label>
                <input id="time-limit" name="timeLimit" type="number" (change)="timeLimit = $event.target.value" [value] = "timeLimit">
            </div>
            
            <button class="btn btn-block" (click)="submitQuestion($event)"> Submit </button>

        </div>
    </div>

</div>