.answers{
    list-style-type: none;
    padding-left: 0;
}

.question{
    text-align: center;
    margin-bottom: 5rem;
}

.answer:hover {
    transition-duration: 0s;
}

.answer-correct{
    background-color: #2b962bb0;

    &:hover {
        background-color: #2b962bb0;
    }
}

.answer-incorrect{
    background-color: #d42929b0;

    &:hover {
        background-color: #d42929b0;
    }
}

.answer-true{
    background-color:  darkcyan;

    &:hover {
        background-color:  darkcyan;
    }
}

.answer-pending{
    background-color:  #c59b26;

    &:hover {
        background-color:  #c59b26;
    }
}

.dragdrop-list {
    width: 80%;
    max-width: 100%;
    margin: 2rem auto;
    border: solid 1px black;
    display: block;
    background-color: var(--color-accent);
    border-radius: 12px;
    overflow: hidden;
}

.dragdrop-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.dragdrop-item {
    padding: 20px 10px;
    border-bottom: solid 1px black;
    color: var(--color-text);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: pointer;
    background: #333333;
    font-size: var(--font-size-label);

    &:last-child {
        border: none;
    }
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
  
.cdk-drag-placeholder {
    opacity: 0;
}
  
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging {
    cursor: move;
}

.dragdrop-answer {
    list-style-type: none;
    border: solid 1px black;
    border-radius: 12px;
    padding-inline-start: 0;
    text-align: left;
    overflow: hidden;
    width: 80%;
    max-width: 100%;
    margin: 0 auto;

    li {
        padding: 20px;
        margin-bottom: 0;
        border-bottom: solid 1px black;
        font-size: var(--font-size-default);

        &:last-child {
            border: none;
        }

        span {
            float: right;
        }
    }
}