<app-navbar></app-navbar>

<div class="container">
    
    <form id="photo-form" enctype="multipart/form-data">
        <div id="photo-menu">
            <h3 class="form-title">Change Photo</h3>
            <label class="btn btn-block">
                Select Photo<input type="file" style="display: none" name="userPhoto" (change)="onPhotoSelect($event)"/>
            </label>
            <input class="btn btn-block" value="Update Photo" (click)="onPhotoSubmit()"/>
            <app-message *ngIf="photoMessage" [message]="photoMessage" [error]="photoError"></app-message>
        </div>
        <div id="photo-preview">
            <img [src]="newPhoto || uiService.getPhoto(authService.user.photo)" class="profile-photo">
        </div>
    </form>
</div>

<div class="container">
    <h3 class="form-title">Change Password</h3>

    <form [formGroup]="passwordForm" (ngSubmit)="onPasswordSubmit()">
        <div class="form-group">
            <label for="oldPassword" class="form-label">Old Password</label>
            <input id="oldPassword" name="oldPassword" formControlName="oldPassword" type="password" class="form-input">
        </div>
        <div class="form-group">
            <label for="newPassword" class="form-label">New Password</label>
            <input id="newPassword" name="newPassword" formControlName="newPassword" type="password" class="form-input">
        </div>
        <div class="form-group">
            <label for="newPasswordConfirm" class="form-label">Confirm New Password</label>
            <input id="newPasswordConfirm" name="newPasswordConfirm" formControlName="newPasswordConfirm" class="form-input" type="password">
            <ul class="validation-block">
                <li *ngIf="passwordForm.errors?.match">The passwords don't match!</li>
            </ul>
        </div>
            
        <button class="btn btn-block" type="submit" [disabled]="!passwordForm.valid">
            Change Password
        </button>

        <app-message *ngIf="passwordMessage" [message]="passwordMessage" [error]="passwordError"></app-message>

    </form>
</div>