<app-dialog-box *ngIf="dialogActive"
                [buttons]="['Join']"
                [text]="['Enter gameroom details']"
                [hasGameCodeField]="true"
                [hasPinField]="true"
                (onDialogClose)="dialogActive=false"
                (inputText)="joinGameroom($event)"
                [message]="errorMessage">
</app-dialog-box>

<app-navbar></app-navbar>

<div class="container">

    <app-search-box (search)="findQuizzes($event)"></app-search-box>

    <hr *ngIf="searched">

    <h2 class="text-center" *ngIf="searched && search_results.length==0">No quiz matches your search</h2>

    <div class="card-list">

        <div *ngFor="let result of search_results">
            <a class="card" routerLink='/quiz/details/{{ result._id }}'>
                {{ result.name }}
            </a>
        </div>
        
    </div>
</div>

<div class="container">

    <h2>My quizzes</h2>

    <hr>

    <div class="card-list">
        
        <div class="card card-add" routerLink ='/makeQuiz'>
            +
        </div>

        <div *ngFor="let quiz of quizzes">
            <!-- <a class="card" routerLink='/{{quiz._id}}'> -->
            <a class="card" routerLink='/editQuiz/{{quiz._id}}'>
                {{quiz.name}}
            </a>
        </div>
        
    </div>
</div>

<div class="container">
    <h2>Latest quizzes</h2>

    <hr>

    <div class="card-list">
        <div *ngFor="let quiz of latest_quizzes">
            <a class="card" routerLink='/quiz/details/{{ quiz._id }}'>
                {{ quiz.name }}
            </a>
        </div>
    </div>
</div>

<div class="container">
    <h2>Open Trivia quizzes</h2>

    <hr>
    <div class="card-list">
        <div *ngFor="let category of opent_categories">
            <a class="card" routerLink='/makeOpenT' [queryParams] = "{category: category[0]}">
                {{category[1]}}
            </a>
        </div>
    </div>
</div>

<div class="container">

    <h2>Gamerooms</h2>

    <hr>

    <div class="card-list">
        
        <div class="card" (click)="dialogActive=true">
            Join Gameroom
        </div>

        <div *ngFor="let gr of gamerooms">
            <a class="card" routerLink='/gameroom/{{ gr._id }}'>
                {{ gr.gameroom_name }}
            </a>
        </div>
        
    </div>
</div>
