#topnav {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    background-color: var(--color-background);
    padding-left: 10px;
    padding-right: 10px;

    #topnav-list {
        display: flex;
        align-items: stretch;
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-left: auto;
    }

    .topnav-link {
        color: var(--color-text);
        font-size: var(--font-size-default);
        text-align: center;
        padding: 27px 20px 27px 20px;
        text-decoration: none;

        &:hover {
            background-color: #333333;
        }
    }

}

#profile-dropdown {
    display: flex;
    align-items: center;

    #profile-name {
        display: inline-block;
        padding: 27px 0px 27px 10px;
    }
    
    #profile-pic {
        border-radius: 100%;
        width: 55px;
        margin-top: 9px;
        margin-bottom: 9px;
        border: 3px solid var(--color-accent);
    }
}

.dropdown {
    position: relative;

    .dropdown-btn {
        background-color: var(--color-background);
        color: var(--color-text);
        font-size: var(--font-size-default);
        text-align: left;
        border: none;
        outline: none;
        padding: 0 20px;
        min-width: 150px;       

        &:hover {
            background-color: #333333;
            cursor: pointer;
        }
    }

    .dropdown-content {
        position: absolute;
        right: 0;
        left: 0;
        min-width: 150px;
        display: block;
        padding-bottom: 10px;
        box-shadow: 0 2px 4px -1px #00000033,0 4px 5px 0 #00000024,0 1px 10px 0 #0000001f;
        background-color: #2D2D2D;
        border-radius: 6px;

        a {
            display: block;
            font-size: var(--font-size-default);
            color: var(--color-text);
            text-decoration: none;
            text-align: justify;
            padding: 15px 30px 15px 30px;
            cursor: pointer;
            margin-top: 10px;
    
            &:hover {
                background-color: #353535;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .dropdown {
        .dropdown-btn {
            min-width: unset;
        }

        .dropdown-content {
            left: unset;
        }
    }

    #profile-dropdown #profile-name {
        display: none;
    }
}