<nav id="topnav">
    <a routerLink="/home" id="topnav-title" class="topnav-link">Quizzr</a>
    <ul id="topnav-list">
        <li class="topnav-item">
            <div class="dropdown">
                <button id="profile-dropdown" class="dropdown-btn" (click)='toggleDropdown($event)'>
                    <img id="profile-pic" [src]='uiService.getPhoto(authService.user.photo)'>
                    <div id="profile-name">{{ authService.user.username }}</div>
                </button>
                <div class="dropdown-content" *ngIf="!dropdownIsHidden">
                    <a routerLink="/profile">Profile</a>
                    <a (click)="authService.logout()">Log Out</a>
                </div>
            </div>
        </li>
    </ul>
</nav>